---
import Birthday from '../components/Birthday.astro'
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/elenabd2k24/cakeicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>¡Feliz Cumpleaños!</title>
	</head>
	<body>
		<main class="bg-black text-white overflow-clip">
			<Birthday/>
		</main>
	</body>
</html>
