<html lang="es" >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/cakeicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Pista</title>
	</head>
	<body  class="bg-black">
		<main id="main relative">
			<div id="cont" class=" text-white flex flex-col justify-around items-center w-full h-full min-h-full">
                <div class="w-full text-center text-9xl font-extrabold">
                    22
                </div>
                <div class="w-full text-center text-9xl">
                    🟢+⚪️
                </div>
            </div>
		</main>
	</body>
</html>
<style>
    #cont{
        position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;  
    }
</style>