---
import VueSpotlight from '../components/VueSpotlight.vue'
---

<html lang="es" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/elenabd2k24/varitasnapesmall.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>?????</title>
	</head>
	<body class="bg-black">
		<main id="main">
			<VueSpotlight client:load/>
		</main>
	</body>
</html>
<style>
	*,
*:before,
*:after {
  @apply cursor-alias;
}
</style>
